.calendar-container{
    margin-top: 50px;
    align-items: flex-start;
    display: flex;
    .calender-pick-week{
        margin-left: 50px;
    }
    .calender-todo{
        .table-calendar{
            margin-left: 150px;
        }
    }
}