.list-grade {
  margin: 50px 50px 50px 80px;
  .inputFind {
    padding: 0 0 15px 1%;
    .function {
      display: inline-flex;
    }
    .classname {
      @include button(white, #fc5421, white, #fa5320);
      display: inline-block;
      padding: 20px;
      font-size: $fs-lg;
      cursor: pointer;
      letter-spacing: 3px;
      margin-right: 20px;
      opacity: 90%;
      font-size: 18px;

      max-width: 300px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .container-student {
    display: flex;
    .area {
      margin: 30px 0;
    }

    .container-teacher {
      margin: 50px 50px 50px 50px;
    }
  }
}
