.list-grade {
    margin: 50px 50px 50px 80px;
      .inputFind{
          padding: 0 0 15px 1% ;
          .function{
              display:flex; 
          }
      }
      .container {
          display:flex; 
        .area {
          margin: 30px 0;
        }
      
      .container-teacher{
        margin: 50px 50px 50px 50px;
      }
      }
    }
    