.operation-stream {
  @include flex(row, space-between, baseline, null);
  padding: 30px;
  .classname {
    @include button(white, #fc5421, white, #fa5320);
    display: inline-block;
    padding: 20px 40px;
    font-size: $fs-md;
    cursor: pointer;
    letter-spacing: 3px;
    margin-right: 20px;
    opacity: 90%;
  }
  .share {
    margin-right: 40px;
    height: 150px;
    width:1000px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    .shareWrapper {
      padding: 10px;
    }
    
    .shareTop {
      display: flex;
      align-items: center;
      margin-top: 5px;
      margin-left: 20px;
      .shareInput {
        padding-left: 10px;
        border: none;
        
      }
      .shareInput:focus {
        outline: none;
      }
    }
    .shareHr {
      margin: 20px;
    }
    
    .shareBottom {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .shareButton{
        border: none;
        padding: 7px;
        border-radius: 5px;
        background-color: green;
        font-weight: 500;
        margin-right: 20px;
        cursor: pointer;
        color: white;
      }
      .cancelButton{
        border: none;
        padding: 7px;
        border-radius: 5px;
        background-color: gray;
        font-weight: 500;
        margin-right: 20px;
        cursor: pointer;
        color: white;
      }
    }
  }
}
.posts-container{
display: inline-flex;
padding: 20px 10% 20px 10%;
margin-bottom: 50px;
.posts-poster{
  
}
.posts-list{
  background-color: #F0F2F5;
  border-radius: 5px;
  margin-left: 125px;
  width: 1000px;
}
}
