.container-todolist{
    margin: 50px 10% 0 10%;
    .function-filter{
        
    }
    .data-groups{
            margin-right: 50px;
            margin-top: 50px;
            display:flex;
            .card-content-exercise{
                
                margin-right: 15% ;
                margin-bottom: 30px;
                .card-content-exercise-button{
                    margin-bottom: 30px;
                }
            }
    }
    .groups{
        margin-right: 50px;
        margin-top: 50px;
        display:flex;
        .card-title-length{
            margin-right: 15% ;
        }
        .card-title-length{
            .card-title{
                display:flex;
            }
        }
        // box-shadow: 
        // rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
        // rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
        // rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
        // rgba(0, 0, 0, 0.06) 0px 2px 1px, 
        // rgba(0, 0, 0, 0.09) 0px 4px 2px,
        // rgba(0, 0, 0, 0.09) 0px 8px 4px, 
        // rgba(0, 0, 0, 0.09) 0px 16px 8px, 
        // rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
    h5{
        text-transform: capitalize;
    }
    h6{
        color:rgb(214, 203, 203);
    }
}