.vertical-list-homework.css-ish9js {
  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    padding: 0;
    padding-right: 10px;
  }
  @media only screen and (max-width: 1200px) {
    padding-left: 100px;
  }
  @media only screen and (max-width: 992px) {
  }
  @media only screen and (max-width: 768px) {
  }
  @media only screen and (max-width: 550px) {
  }
}
