.submit-homework {
  .logo-class {
    padding: 60px 0px;
    .classname {
      @include button(white, #fc5421, white, #fa5320);
      display: inline-block;
      padding: 20px 40px;
      font-size: $fs-xl;
      cursor: pointer;
      letter-spacing: 3px;
      margin-right: 50px;
      opacity: 90%;
    }
  }
  .content {
    .homework-detail {
      width: 40%;
      @include flex(null, null, center);
      .name {
        color: $color-pr-3;
        font-size: $fs-lg;
        font-weight: $fw-bold-2;
      }
      .detail {
          mar
        @include flex(column, space-between, center, null);
        p {
          margin: 0;
        }
      }
    }
  }
}
