.about-us {
  .about-title {
    padding: 30px 0;
    @include flex(column, center, center, null);
    h1 {
      margin-bottom: 20px;
      .group-name {
        color: $color-pr-3;
      }
    }
    p {
      margin-bottom: 0;
    }
  }
  .about-member{
      wi
  }
}
