.card-member {
  width: 20%;
  margin: 10px;
  overflow: visible !important;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px !important;
  .MuiAvatar-circular {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
  }
  .content {
    padding-top: 60px;
    .name{
      color: $color-pr-2
    }
  }
}
