.card-member {
  width: 20%;
  margin: 10px;
  overflow: visible !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  .MuiAvatar-circular {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
  }
  ..css-1ri6ub7-MuiPaper-root-MuiCard-root {
    padding-top: 60px;
  }
}
