.footer {
  //background-color: #e8fbff;
  
  .content{
      pad
    .logo {
        img {
          height: 70px;
          width: auto;
        }
      }
      li {
        list-style: none;
      }
      .general {
        h3 {
          font-size: 20px;
        }
        p {
        }
      }
  }
}
