.footer {
  //background-color: #e8fbff;

  .content {
    padding: 30px;
    padding-top: 50px;
    .logo {
      img {
        height: 70px;
        width: auto;
      }
    }
    li {
      list-style: none;
    }
    .general {
      padding-left: 40px;
      h3 {
        font-size: 20px;
        margin: 10px 0;
      }
      p {
      }
    }
    .address {
      @include flex(column, center, center, null);
      ul {
        li {
          margin: 10px 0;
        }
      }
    }
    .contact {
      h3 {
        text-align: center;
      }
      ul {
        @include flex(row, space-evenly, center);
        li {
          font-size: 20px;
        }
      }
    }
  }
}
