.homework-card {
  margin: 10px 0 20px;
  height: 100%;
  .info {
    margin-left: 10px;
    position: relative;
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .hw-name {
    position: absolute;
    left: 0;
    top: 0;
    color: $color-pr-3;
    font-size: $fs-md;
    font-weight: $fw-bold-1;
  }

  .hw-deadline,
  .hw-createdAt {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #6f7071;
  }
  .btn-change {
    @include button(white, #fc5421, white, #fa5320);
    margin-right: 7px;
  }
  .btn-detail {
    @include button(white, #413ef5, white, #460aec);
  }

  .More {
    padding-left: 85px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    @include flex(null, space-between, center);
    .desc {
      font-weight: bold;
    }
    a {
      animation: glowing 1500ms infinite;
    }
    a:hover {
      color: #fa5320;
    }
  }
}
@keyframes glowing {
  0% {
    background-color: #f10e0e;
    box-shadow: 0 0 3px #e1e2e4;
  }
  50% {
    background-color: #10d65c;
    box-shadow: 0 0 10px #051f31;
  }
  100% {
    background-color: #66ee0c;
    box-shadow: 0 0 3px #06f51a;
  }
}
