.intro-feature {
  background-color: #e8fbff;
  .title {
    padding-left: 50px;
    font-weight: $fw-bold-2;
    margin-bottom: 30px;
    color: $color-pr-2;
  }
  .row {
    .feature-box {
      background-color: white;
      @include flex(null, null, center);
      border-radius: ;
      .img-illus {
        width: 125px;
        height: auto;

      }
    }
  }
}
