.intro-feature {
  background-color: #e8fbff;
  .content {
    padding: 30px 50px;
    .title {
      //padding-left: 50px;
      font-weight: $fw-bold-2;
      margin-bottom: 30px;
      color: $color-se-1;
    }
    .row {
      .feature-box {
        padding: 20px 15px;
        .inner {
          background-color: white;
          @include flex(null, flex-start, center);
          border-radius: 25px;
          box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;

          .img-illus {
            width: 150px;
            height: auto;
            margin-right: 20px;
          }
          h3 {
            font-size: $fs-md;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 1200px) {
  }
  @media only screen and (max-width: 992px) {
  }
  @media only screen and (max-width: 768px) {
    .left {
      width: 60%;
      padding-left: 20px;
    }
    .left .title {
      font-size: 30px;
      margin-bottom: 10px;
    }
    .right {
      width: 40%;
    }
    .right .img-study {
      margin: 10px auto;
    }
  }
  @media only screen and (max-width: 550px) {
    .left {
      width: 100%;
    }
    .right {
      display: none;
    }
  }
}
