.intro-feature {
  background-color: #e8fbff;
  .content {
    padding: 30px 50px;
    .title {
      //padding-left: 50px;
      font-weight: $fw-bold-2;
      margin-bottom: 30px;
      color: $color-pr-2;
    }
    .row {
      .feature-box {
        box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
        padding: 10px 10px;
        .inner {
          background-color: white;
          @include flex(null, space-evenly, center);
          border-radius: 25px;
          width: 90%;
        }
        .img-illus {
          width: 150px;
          height: auto;
        }
        h3 {
          font-size: $fs-md;
        }
      }
    }
  }
}
