.intro-main {
  @include flex();
  .left {
    width: 55%;
    .title {
      fon
    }
    .des {
    }
    .btn-join {
      @include button(white, $color-pr-3, white, $color-pr-1);
      .fa-hand-pointer {
        font-size: $fs-md;
        margin-right: 2px;
      }
    }
  }

  .right {
    width: 45%;
    .img-study {
      width: 100%;
    }
    //background-image: url("assets/img/intro_study.png");
  }
}
