#navbar-intro {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  font-family: $font-title !important;
  box-shadow: 0 0 10px 0 #0000005e;
  .logo {
    img {
      height: 90px;
      width: auto;
    }
  }
  .container {
    width: 100%;
    padding: 10px 0;
    @include flex(row, space-between);
  }
  .navbar {
    padding: 0;
    ul {
      li {
        .nav-link {
          font-size: 16px;
          text-transform: uppercase;
          font-weight: $fw-bold-2;
          &:hover {
            color: $color-pr-3 !important;
            transition: all 0.1s linear;
          }
        }
      }
      li.active {
        .nav-link {
          color: rgb(2, 216, 84) !important;
        }
      }
    }
  }
  .navbar-right {
    display: flex;
    align-items: center;
    .account {
      .btn-signin {
        @include button(white, $color-pr-2, white, $color-pr-1);
        margin-right: 10px;
      }
      .btn-signup {
        @include button(white, rgba(0, 0, 0, 0.6), white, rgba(0, 0, 0, 0.9));
      }
    }
  }
}
