.operation-member {
  @include flex(row, center, baseline, null);
  pa
  .classname {
    @include button(white, #fc5421, white, #fa5320);
    display: inline-block;
    padding: 20px 40px;
    font-size: $fs-xl;
    cursor: pointer;
    letter-spacing: 3px;
    margin-right: 50px;
  }
  .input-group {
    width: 60%;
  }
  #idFind {
    height: 50px;
  }
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    //padding-top: 10px;
    padding-bottom: 10px;
  }
  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 80%;
  }
  .btn-add {
    @include button(white, #0857f5, white, #0341b9);
    height: fit-content;
    margin-left: -80px;
  }
}
