.operation-stream {
    @include flex(row, space-between, baseline, null);
    padding: 25px 0px !important;
    margin-left: -20px;
    
    
    .classname {
      @include button(white, #fc5421, white, #fa5320);
      display: inline-block;
      padding: 20px 40px;
      font-size: $fs-xl;
      cursor: pointer;
      letter-spacing: 3px;
      margin-right: 20px;
      opacity: 90%;
      w
    }
    .share {
      width: 80%;
      height: 160px;
      border-radius: 10px;
      -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
      box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    }
    
    .shareWrapper {
      padding: 10px;
    }
    
    .shareTop {
      display: flex;
      align-items: center;
    }
    
    .shareProfileImg {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }
    
    .shareInput {
      padding-left: 10px;
      border: none;
      width: 80%;
    }
    
    .shareInput:focus {
      outline: none;
    }
    
    .shareHr {
      margin: 20px;
    }
    
    .shareBottom {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    
    .shareButton{
        border: none;
        padding: 7px;
        border-radius: 5px;
        background-color: green;
        font-weight: 500;
        margin-right: 20px;
        cursor: pointer;
        color: white;
    }
    .cancelButton{
      border: none;
      padding: 7px;
      border-radius: 5px;
      background-color: gray;
      font-weight: 500;
      margin-right: 20px;
      cursor: pointer;
      color: white;
  }
  }
  